{% extends 'base.html.twig' %}

{% block title %}Liste des animes{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="test-main">
        
        <div class="container-fluid p-l-r-0">
            <div class="container-banniere">
                <img class="w-100" src="{{ asset('css/images/listedesanimes-banner.jpg') }}" alt="Catalogue img">
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="page-listing d-flex flex-row flex-wrap">
                    {% for anime in animes %}
                        <div class="container-thumbnail-catalogue ml-3"><figure><a href="{{ path('anime_show', {'id': anime.id}) }}"><img src="{{ asset('css/images/pageAnime-banner.jpg') }}" alt=""></img></a><figcaption><h2>{{anime.title}}</h2></figcaption></figure></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}