{# {% extends 'baseAdmin.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}  
    <div class="container mt-4">
        <h1>Créer un utilisateur</h1>

        {{ include('admin/user/_form.html.twig', {button: 'Créer'}) }}

        <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
    </div>
{% endblock %} #}
