{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_id 'blog_index' %}
{% block body %}


<div class="container  mt-4">
    <h1>Connexion</h1>

    {% if error %}

        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <input class="form-control" placeholder ="Nom d'utilisateur" required name="_username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder ="Mot de passe" required name="_password" type="text">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit" >Connexion</button>
            </div>

</div>

{% endblock %}
