{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body_id 'blog_index' %}
{% block body %}

<div class="container  mt-4">
    <h1>Inscription</h1>

        {{ include ('security/_registrationForm.html.twig', {button: 'Inscription'}) }}

</div>

{% endblock %}
