{% extends 'baseAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}   


    <div class="container d-flex flex-column align-items-center mt-4">

        <h1 class="mb-5">Inscription</h1>


        {{ include ('registration/_registerForm.html.twig', {button: 'S\'inscrire'}) }}
    </div>
        

{% endblock %}
