@media (max-width: 992px) {
    .hd-responsive {
        display: none;
    }
}

body {
    background-color: #1a1a1a;
}

div {
    color: white;
}

h1,
h2 {
    font-weight: 1000;
}

.vertical-line-icon {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 2px;
    height: 100vh;
    background-color: black;
}

.author,
.date,
.dash,
.rating-list-elements {
    font-weight: bold;
    margin-left: 0.5em;
    color: white;
}

.category {
    font-weight: bold;
    color: white;
}

.metadata {
    display: flex;
    flex: row;
    justify-content: flex-start;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.205) !important;
}

.navbar-brand {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #e3474b !important;
}

.nav-link {
    font-size: 1.3em;
    font-weight: bold;
    color: #e3474b !important;
    margin-left: 0.3em;
}

.container-img>img {
    width: 100%;
    

}

.btn-categories {
    border-radius: 0px;
    border: 1.5px solid black;
    color: #ee2e30;
    background-color: white;
    font-weight: bold;
    margin-top: 2%;
    width: 174px;


}

.thumbnail-news {
    border: 2px solid black;
    width: 200px;
    height: 120px;
}

.thumbnail-news-show {
    border: 2px solid black;
    width: 720px;
    height: 480px;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.news-title-link {
    color: white;
}

.news-title-link:hover {
    color: #e3474b;
    text-decoration: none;
}

/* TEST */

#bloc-droit {
    background-color: rgb(255, 204, 204);
}

#bloc-bar {
    background-color: rgb(179, 179, 255);
    padding: 0;
}

#bloc-main {
    background-color: rgb(153, 255, 204);
    height: 100vh;
}

.test-slider {
    background-color: rgb(150, 29, 35);
    width: 100%;
    height: 300px;
    display: block;
}

/* TEST */