{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="test-main">

        <div class="container-fluid p-l-r-0">
            <div class="container-banniere">
                <img class="w-100" src="https://i.imgur.com/A38yjkR.jpg" alt="Page img">
            </div>

        </div>
        
        {% for post in posts %}
            {% include 'news/_post.html.twig' %}
        {% endfor %}
        
    </div>
{% endblock %}