{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}
{% block metaDescription %}
<meta name="description" content="Pour les plus récentes nouvelles sur les animes, mangas, évènements et plus encore !" />{%
endblock %}

{% block body_id 'blog_index' %}

{% block main %}
<div class="test-main">

    <div class="container-fluid p-l-r-0">
        <div class="container-banniere">
            <img class="w-100" src="{{ asset('css/images/actualite-banner-custom.jpg') | imagine_filter('thumb3') }}"
                alt="Page img">
        </div>

    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <h1 class="breadcrumb-title">Actualité</h1>
            </li>
        </ol>
    </nav>
    <div class="container">
        {% for post in posts|reverse %}
        {% include 'news/_post.html.twig' %}
        {% endfor %}
    </div>


</div>
{% endblock %}