{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="test-main">
        
        {% for post in posts %}
            {% include 'news/_post.html.twig' %}
        {% endfor %}
        
    </div>
{% endblock %}