{% extends 'base.html.twig' %}

 {% block body %}
 <div class="container">
    <article class="d-flex flex-column">

        <div class="d-flex justify-content-center mt-5 mb-5">
            <div class="thumbnails">
                <img class="thumbnail-news-show" src="http://placehold.it/720x480" alt="">
            </div>
        </div>

        <div class="">
            <a href="{{ path('news_show') }}" class="news-title-link"><h2>Titre de l'article 01</h2></a>
            <div class="metadata"><span class="category">Anime</span><span class="author">Kenta</span><span class="dash">-</span><span class="date">06/01/2018</span></div>
            <div class="content">
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
            et empêche de se concentrer sur la mise en ...
            </p>
            <p>
            Lorem ipsum dolor sit amet, ex sit solum propriae iracundia. Mea enim ullamcorper in. Vix ut ubique indoctum qualisque. Duo ei diam aeterno gubergren, cu nam novum eruditi vituperata, vim mediocrem partiendo neglegentur ea. Ius no aeterno sanctus eleifend, discere euismod et sed, no diam consul duo. Nullam vivendum appellantur mel at, vix option dolores perfecto at.
            Usu propriae platonem honestatis an, mei et accumsan intellegam cotidieque, mei sale repudiandae ex. Eum soleat conclusionemque id, ne duo agam salutandi, ut ubique aliquando vis. Eu per sint vero zril. Sed an legere omittantur, no ius reque deterruisset.
            Te dicunt commune salutatus vim, te aperiri volutpat nam, in definiebas reprimique nam. Ei est doctus audiam prodesset. At rebum vocibus sea, vim quaerendum accommodare mediocritatem at. Pro ne mazim mentitum, sit in quidam alienum deterruisset. Choro ponderum mea ne. Odio tritani eos at, te nostrud persequeris mea, quo id graeco imperdiet suscipiantur. Aeque sonet pro no, pro no animal accommodare, vim at stet sadipscing.
            Putent sensibus gubergren cu eum. Nec ei ludus numquam officiis. Doming vituperata mei ut, no iisque eleifend referrentur mea. Per ea modo insolens.
            Te nominavi placerat suavitate eam. Ad praesent repudiandae eos, novum paulo pri at. Ei vero feugait epicurei est. Id duo odio expetendis, summo soleat habemus pro et.
            </p>
            </div>
        </div>
                                
    </article>
</div>
 {% endblock %}