{% extends 'baseAdmin.html.twig' %}

{% block title %}Éditer une Page{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}   

    <div class="container mt-4">

        <h1>Éditer les animes</h1>

        {{ include ('admin/anime/_form.html.twig', {button: 'Éditer'}) }}

      <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</h1>
                    <th>Numero</th>
                    <th>Lien</th>
                </tr>
            </thead>

            <tbody>
                {% for episode in episodes %}

                <tr>
                    <td>{{ episode.titre }}</td>
                    <td>{{ episode.numero }}</td>
                    <td>{{ episode.lien }}</td>
                </tr>
                
                       
                {% endfor %}


            </tbody>
        </table>


    </div>
{% endblock %}