{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}


<div class="container d-flex flex-column align-items-center mt-4">

    <h1 class="mb-5">Modifier mon mot de passe</h1>

    {{ form(form) }}


</div>


{% endblock %}