{% extends 'base.html.twig' %}
{% block title %}
{{ user.username }}{% endblock %}
{% block body_id 'blog_index' %}
{% block main %}
<div class="test-main">
    <div class="container-fluid p-l-r-0">

        <div class="container-banniere">
            <img src="{{ asset('css/images/userpage-banner.jpg') | imagine_filter('thumb3')}}" alt="Page img">
        </div>
    </div>
</div>

{% endblock %}